fastapi
uvicorn
sqlmodel
psycopg2-binary
python-dotenv
celery
redis
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
instaloader

# AI & Image Processing
torch
transformers
ftfy
regex
tqdm
Pillow
git+https://github.com/openai/CLIP.git
requests 