fastapi
uvicorn
sqlmodel
psycopg2-binary
python-dotenv
celery
redis
requests
httpx
jmespath
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]

# AI & Image Processing
Pillow
git+https://github.com/openai/CLIP.git 